aio-mc-rcon==3.0.2; python_version >= "3.6"
aiofiles==0.7.0; python_version >= "3.6" and python_version < "4.0"
aiohttp==3.7.4.post0; python_version >= "3.6"
arrow==1.1.1; python_version >= "3.6"
async-cse==0.3.0
async-timeout==3.0.1; python_version >= "3.6" and python_full_version >= "3.5.3"
asyncpg==0.23.0; python_full_version >= "3.5.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version >= "3.5.3"
betterstatcord.py==3.0.0; python_version >= "3.7" and python_version < "4.0"
cffi==1.14.5; python_version >= "3.6"
chardet==4.0.0; python_version >= "3.6" and python_full_version >= "3.5.3"
classy-json==3.2.1; python_full_version >= "3.7.3" and python_full_version < "4.0.0"
cryptography==3.4.7; python_version >= "3.6"
cython==0.29.23; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
discord.py==1.7.3; python_full_version >= "3.5.3"
idna==3.2; python_version >= "3.6" and python_full_version >= "3.5.3"
multidict==5.1.0; python_version >= "3.6" and python_full_version >= "3.5.3"
numpy==1.21.0; python_version >= "3.7"
opencv-python==4.5.2.54; python_version >= "3.6"
orjson==3.5.3; python_version >= "3.6"
psutil==5.8.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0"
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
python-dateutil==2.8.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
typing-extensions==3.10.0.0; python_version < "3.8" and python_full_version >= "3.5.3" and python_version >= "3.6"
yarl==1.6.3; python_version >= "3.6" and python_full_version >= "3.5.3"
